
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header" >
      <a class="navbar-brand" href="#">U-Shop</a>
    </div>
    <ul class="nav navbar-nav" >
      <li class="active"  ><a href="#">Home</a></li>
      <div class="dropdown" (click)="rel()"*ngFor="let item of menu ;  let i = index  ">
        <span>{{item.Name}}</span>
        <div class="dropdown-content">
          <a  *ngFor="let sub of item.SubCategories ; let i=index ">
          <p [routerLink]="['/productlist', sub.SubCategoryID ]" class="dropdown-toggle " data-toggle="dropdown" href="#">{{sub.Name}}</p></a>
         
        </div>
      </div>
    </ul>
    <div class="search-container" style="float: right; margin-top: 10px;">
      <i class="fa fa-cart-plus" style="color: white; margin-right: 5px; margin-top: 5px; font-size: 30px;float: right;"></i>
      <i class="fa fa-user-circle" style="color: white;   margin-right: 8px;margin-top: 5px; font-size: 30px;float:right;"></i>
      <input type="text" placeholder="Search.." name="search">
      <button type="submit" style="margin-right: 10px;" (click)="onClickSearch()"><i class="fa fa-search"></i></button>
  </div>
  </div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
</nav>
<router-outlet></router-outlet>
<div class="footer" style="height: 20px;">
  <p>About Us</p>
</div>



