 <nav class="navbar navbar-inverse" style="background-color: #0c0c0c;" >
  <div class="container-fluid" >  
    <div class="navbar-header" >
      <li (click) = "onClickHome()" ><img src="\assets\Student_Shop_Logo (1).png" style="width: 260px;; height:50px" /></li>
    </div>
    <div class="sub-menu" >
      <div class="nav navbar-nav" >
        <li class="color" style="padding: 15px;" (click) = "onClickHome()">Home</li>
          <div class="sub-menu-nav"   *ngFor="let item of menu  ;  let i = index  ">
            <button class="nav-btn color">{{item.Name}}</button>
            <div class="sub-menu-alt">
            <a *ngFor="let sub of item.SubCategories  ; let i=index " [routerLink]="['/productlist', sub.SubCategoryID ]" href="#">
              {{sub.Name}}</a>
            </div>
          </div>
      </div>
      
      <div class="btn-group" *ngIf="loginDetail != null" >
        <button type="button" class="btn dropdown-toggle" style="background-color: transparent;color:white;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Hi,{{loginDetail.Name}}
        </button>
        <div class="dropdown-menu" style="background-color:black;">
          <a class="dropdown-item" (click) = "myOrder()" >My Orders</a>
        </div>
      </div>
     <div class="btn-group" *ngIf="loginDetail == null">
      <a   style="color: white;" (click) = "onClickUser()">Login</a>
     </div> 
    </div>
    
    <div class="search-container" style="float: right;"> 
      <span  class="fa-stack fa-2x has-badge icon" style="color: white; margin-right: 5px; margin-top: 1px; margin-bottom:8px ; font-size: 15px;float: right; padding-top: 1px;"  [attr.data-count] = "count">
        <i  class="fa fa-shopping-cart fa-stack-2x red-cart" (click) = "onClickCart()" ></i>
      </span>
      <input type="text" placeholder="Search.." name="search" [(ngModel)]="search">
      <button type="submit" style="margin-right: 10px;"><i class="fa fa-search" (click) = "onClickSearch()" ></i></button>
    </div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
  </div>
</nav>
<router-outlet></router-outlet>
<div class="footer">
  <p>About Us</p>
</div>



