<!-- <p>return-list works!</p> -->


<!-- <div class="row " *ngFor="let order of returnlist ;  let i = index "> -->
    <div class="col-2">
        
        <!-- <div class="im" ><img [src] = ""   alt="Avatar" style="width:auto; height: 110px;"></div> -->
            <div class="col-10">
                <p style="width: 80%;">Product:-&nbsp;&nbsp; </p>
                    
                <p >Quantity:-&nbsp;&nbsp;</p>
                <p>OrderID:- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
                <p>Return Date:- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p> 
                <p>Payment Method:- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p> 
       
             </div>
    </div>
<!-- </div> -->