<div class="container">
    <div class="title">
        <h2>Order Confirmation</h2>
    </div>
    <div class="d-flex">
      <form action="" method="">
      <label>
        <span class="fname">Name <span class="required">*</span></span>
        <input type="text" name="fname" [(ngModel)] = "customerDetail.Name" >
      </label>
      <label>
        <span>Street Address <span class="required">*</span></span>
        <input type="text" name="houseadd" placeholder="House number and street name" [(ngModel)] = "customerDetail.address[0].Add1"  >
      </label>
      <label>
        <span>&nbsp;</span>
        <input type="text" name="apartment" placeholder="Apartment, suite, unit etc. (optional)" [(ngModel)] = "customerDetail.address[0].Add2">
      </label>
      <label>
        <span>Town / City <span class="required">*</span></span>
        <input type="text" name="city" value = "{{getCityName(customerDetail.address[0].CityID)}}"> 
      </label>
      <label>
        <span>State / County <span class="required">*</span></span>
        <input type="text" name="State" value = "{{getStateName(customerDetail.address[0].StateID)}}" > 
      </label>
      <label>
        <span>Postcode / ZIP <span class="required">*</span></span>
        <input type="text" name="PinCode" [(ngModel)] = "customerDetail.address[0].PinCode"> 
      </label>
      <label>
        <span>Phone <span class="required">*</span></span>
        <input type="tel" name="Phone" [(ngModel)] = "customerDetail.Phone"> 
      </label>
      <label>
        <span>Email Address <span class="required">*</span></span>
        <input type="email" name="Email" [(ngModel)] = "customerDetail.Email"> 
      </label>
      <div class="Yorder">
        <h2>Payment Methods</h2>
        <label>
          <span>Total<span class="required"></span></span>
          <input type="text" name="total" value = "{{getTotal()}}"> 
        </label>
        <div>
          <input type="radio" name="dbt" value="Direct Bank Transfer" [checked]="true" [(ngModel)]="paymentType" > Direct Bank Transfer
        </div>
        <div>
          <input type="radio" name="dbt" value="Cash on Delivery" [checked]="true" [(ngModel)]="paymentType"  > Cash on Delivery
        </div>
        <div>
          <input type="radio" name="dbt" value="Gpay" [checked]="true" [(ngModel)]="paymentType" > Gpay <span>
          <img src="https://www.logolynx.com/images/logolynx/c3/c36093ca9fb6c250f74d319550acac4d.jpeg" alt="" width="50">
          </span>
        </div>
        <button type="button" (click) = "onClickPlace()" style="background-color: rgb(68, 51, 51);width:auto" >Place Order</button>
      </div>
    </form> 
  </div>
</div>


  