<div class="row " *ngFor="let order of orderList ;  let i = index ">

  <div class="card col-12" *ngFor="let product of order.items ; let j = index">
    <div class="col-2">
      
   <div class="im" ><img [src] = "product.imageurl"   alt="Avatar" style="width:auto; height: 110px;"></div>
  </div>
    <div class="col-10">
    <p style="width: 80%;">Product:-&nbsp;&nbsp;{{product.productname}} </p>
        
    <p >Quantity:-&nbsp;&nbsp;{{product.qty}}</p>
    <p>Date:- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{order.orderdate}} </p>
  </div>
  </div>
</div>