<!-- <p>order-list works!</p> -->

<div style="border: none; background-color: white;"><b>Order 1</b></div>
<div class="container">
    <img src="\assets\Shoe.jpg" style="width:10%; height:100px" />
  <div><b>Men's Shoes Fashion</b><br>AVU Men's Running Shoes Lightweight Non Slip <p>Sneakers Breathable Walking Fashion Athletic Gym Tennis Shoes</p></div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  <div><b>Amount</b><p>Rs.1800</p></div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  <div><b>delivering date</b><p>june 15th</p></div>
</div>
<div style="border: none; background-color: white;"><b>Order 2</b></div>
<div class="container">
    <img src="\assets\earpod.jpg" style="width:10%; height:100px" />
  <div><b>OnePlus Buds Z (White)</b><br> Special Feature Earbud Connector Type Wireless<br>Brand OnePlus Wireless Communication Technology	Bluetooth</div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  <div><b>Amount</b><p>Rs.2999</p></div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  <div><b>delivering date</b><p>june 15th</p></div>
</div>